.App {
  user-select: none;
}

.app-warm-text {
  color: #ac7e02 !important;
}

.app-clock {
  padding-top: 1rem;
}
.app-clock-face {
  color: #865c00 !important;
}
.app-show-time-btn {
  margin-bottom: 0.6rem;
}

.app-tap-area {
  position: absolute;
  width: 100%;
  min-height: calc(100% - 4rem);
}